<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="地图服务接口自动化测试" verbose="1">
    <test name="文本搜索-地址解析测试">
        <classes>
            <class name="com.huolala.qaautotest.test.mapTextSearch.AddressAnalysisSugRequestControllerTest"/>
        </classes>
    </test>
</suite>